<div id= "order-item">
  <% if session[:order_array].blank? %>
    <div>
      <h1>
        <%= t('none',param: 'Order') %>
      </h1>
    </div>
  <% else %>
    <%= render 'orders/order_items' %>
  <% end %>
</div>
<hr>
<%= link_to t('list',param: 'Products'), user_route_path, class: "btn btn-dark btn-lg" %>
