.sample_image {
  margin-bottom: 97px;
}

.regestration-section {
  background-color: #eee;
}

.regestration-section {
  border-radius: 25px;
}

.login-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
