<h1><%= t('edit', param: 'Brand') %></h1>
<%= render 'form', brand: @brand %>
<%= link_to t('show-button'), @brand, class:"btn btn-primary" %> |
<%= link_to t('back'), brands_path, class:"btn btn-dark" %>
