<h1><%= t('edit', param: 'Brand') %></h1>
<%= render 'form', brand: @brand %>
<%= link_to t('show-button'), @brand, class: "btn btn-primary mt-3" %>
<%= link_to t('back'), brands_path, class: "btn btn-dark mt-3" %>
