<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to t('show_button'), @category, class:"btn btn-primary" %> |
<%= link_to t('edit_button'), category_path, class:"btn btn-dark" %>
