<h1><%= t('edit', param: "Category") %></h1>
<%= render 'form', category: @category %>
<%= link_to t('show-button'), @category, class: "btn btn-primary mt-3" %>
<%= link_to t('back'), categories_path, class: "btn btn-dark mt-3" %>
