<h1><%= t('edit', param: 'product') %></h1>
<%= render 'form', product: @product %>
<%= link_to t('show-button'), @product, class: "btn btn-primary mt-3" %>
<%= link_to t('back-button'), products_path, class: "btn btn-dark mt-3" %>
