<h1><%= t('edit_heading', param: 'Supplier') %></h1>
<%= render 'form', supplier: @supplier %>
<%= link_to t('show'), @supplier, class:"btn btn-primary" %> |
<%= link_to t('back'), suppliers_path, class:"btn btn-dark" %>
