<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_supplier_path(@supplier), , class:"btn btn-outline-primary btn-lg" %> |
<%= link_to 'Suppliers List', suppliers_path, class:"btn btn-dark btn-lg" %>
