<div id="all-flashes">
<% if flash.any? %>
    <% flash.each do |type, msg| %>
        <div class="flash alert alert-<%=type%>">
          <em><%= msg %></em>
        </div>
    <% end %>
<% end %>
</div>
